<%= turbo_frame_tag "comment_form" do %>
  <%= form_with model: comment, url: project_comments_path(project) do |f| %>
    <% if comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
          <% comment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.text_area :body, class: "form-control" %>
    </div>
    <%= f.submit "Comment", class: "btn btn-primary" %>
  <% end %>
<% end %>
